#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

// both sides needed for the combo to work
ZMK_COMBO(kp_CAPSLOCK_HRM,  &kp CAPSLOCK,  LT1 RT1,    HOME QWERTZ NUM,  COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(kp_CAPSWORD_HRM,  &caps_word,  LM1 RM1,    HOME QWERTZ NUM,  COMBO_TERM_FAST, COMBO_IDLE_FAST)

// Lefthand side
ZMK_COMBO(kp_ESC,  &kp ESC,  LT3 LT2,    HOME QWERTZ NUM,  COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(kp_TAB,  &kp TAB,  LM2 LM3,    HOME QWERTZ NUM,  COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(kp_LEADER,  &none,  LM2 LM1,    HOME QWERTZ NUM,  COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(kp_CUT,  &kp LC(X),  LB1 LB3,    HOME QWERTZ NUM,  COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(kp_sel_ALL,  &kp LC(A),  LB3 LB4,    HOME QWERTZ NUM,  COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(kp_COPY,  &kp LC(C),  LB2 LB3,    HOME QWERTZ NUM,  COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(kp_PASTE,  &kp LC(V),  LB2 LB1,    HOME QWERTZ NUM,  COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

ZMK_COMBO(kp_AT,  &kp RA(Q),  LT3 LM3,    HOME QWERTZ NUM,  COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(kp_HASHTAG,  &kp BSLH,  LT2 LM2,    HOME QWERTZ NUM,  COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(kp_DOLLAR,  &kp LS(N4),  LT1 LM1,    HOME QWERTZ NUM,  COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(kp_PERCENT,  &kp LS(N5),  LT0 LM0,    HOME QWERTZ NUM,  COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(kp_TILDE,  &kp RA(RBKT),  LM0 LB0,    HOME QWERTZ NUM,  COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(kp_EQUAL,  &kp LS(N0),  LM1 LB1,    HOME QWERTZ NUM,  COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(kp_BACKSLASH,  &kp RA(MINUS),  LM2 LB2,    HOME QWERTZ NUM,  COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(kp_BACKTICK,  &backtick,  LM3 LB3,    HOME QWERTZ NUM,  COMBO_TERM_FAST, COMBO_IDLE_FAST)

// Righthand side
ZMK_COMBO(kp_DELETE,  &kp DEL,  RT3 RT2,    HOME QWERTZ NUM,  COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(kp_ENTER,  &kp RET,  RM2 RM3,    HOME QWERTZ NUM,  COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(kp_CARET,  &caret,  RT0 RM0,    HOME QWERTZ NUM,  COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(kp_UNDERSCORE,  &kp LS(FSLH),  RM0 RB0,    HOME QWERTZ NUM,  COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(kp_PLUS,  &kp RBKT,  RT1 RM1,    HOME QWERTZ NUM,  COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(kp_MINUS,  &kp FSLH,  RM1 RB1,    HOME QWERTZ NUM,  COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(kp_STAR,  &kp LS(RBKT),  RT2 RM2,    HOME QWERTZ NUM,  COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(kp_SLASH,  &kp LS(N7),  RM2 RB2,    HOME QWERTZ NUM,  COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(kp_AMPERSAND,  &kp LS(N6),  RT3 RM3,    HOME QWERTZ NUM,  COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(kp_PIPE,  &kp RA(NON_US_BSLH),  RM3 RB3,    HOME QWERTZ NUM,  COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(kp_BACKSPACE,  &kp BSPC,  RT1 RT2,    HOME QWERTZ NUM,  COMBO_TERM_FAST, COMBO_IDLE_FAST)

// RH Thumbs
ZMK_COMBO(combo_alt_space,    &kp LA(SPACE),      RH1 RH0,   HOME QWERTZ NUM,  COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(combo_STICKY_Meh,   &sk LC(LS(LALT)),   RH2 RH1,   HOME QWERTZ NUM,  COMBO_TERM_FAST, COMBO_IDLE_FAST)

// LH Thumbs
ZMK_COMBO(combo_toggle_typing,    &tog TYPING,      LH2 LH0,   HOME QWERTZ TYPING NUM,  COMBO_TERM_FAST, COMBO_IDLE_FAST)